{% extends 'Main/base.html' %}
{% block content %}

<section class="vh-100" style="background-color: #D0E1F9;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-8">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <div class="d-flex justify-content-between">
                            <h3 class="mb-3">Edit a task</h3>
                        </div>

                        <form action="" method="POST">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Save</button>
                            <a href="{% url 'task_list' %}" class="btn btn-sm custom-btn text-light">Cancel</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}