{% extends 'Main/base.html' %}
{% block content %}

<section class="vh-100" style="background-color: #D0E1F9;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <div class="d-flex justify-content-between">
              <h2 class="mb-3">Hello {{ request.user|title }}</h2>

              {% if request.user.is_authenticated %}
              <h5><a href="{% url 'signout' %}" class="text-decoration-none fw-bold custom-font-color">Signout</a></h5>
              {% else %}
              <a href="{% url 'signin' %}">Signin</a>
              {% endif %}

            </div>
            <h5>You have {{ count }} incomplete task{{ count|pluralize:"s" }}. <span><a href="{% url 'create' %}" class="text-decoration-none fw-bold custom-font-color">Add a task</a></span></h5>

            <form action="" method="GET" class='d-flex my-3'>
              <input type="text" class="form-control" name="search-area" placeholder="Search Task" value="{{ search_input }}">
              <button type="submit" class="btn custom-btn text-light">Search</button>
            </form>
            
            <ul class="list-group mb-0">
              {% for task in tasks %}
              <li class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                <div class="d-flex align-items-center">

                    {% if task.complete %}
                    <div class="d-flex">
                        <div class="task-icon mt-1"></div>
                        <i class="ms-2"><s>{{ task }}</s></i>
                    </div>
                    {% else %}
                    <div class="d-flex">
                        <div class="task-icon mt-1"></div>
                        <div class="ms-2">{{ task }}</div>
                    </div>
                    {% endif %}

                </div>
                <div class="d-flex flex-row justify-content-end mb-1">
                    <a href="{% url 'edit' task.id %}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i
                        class="fas fa-pencil-alt me-3"></i></a>
                    <a href="{% url 'delete' task.id %}" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i
                        class="fas fa-trash-alt"></i></a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}